<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team2.mainapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="team2.mainapp.GlobalState"
        android:icon="@drawable/psyduck2"
        android:label="@string/app_name" >
        <activity
            android:name=".MainAppActivity"
            android:theme="@android:style/Theme.Holo.Light" 
            android:label="Breaking Stories" >
        </activity>
        <activity
            android:name=".CompanyList"
            android:theme="@android:style/Theme.Holo.Light" 
            android:label="Companies" >
        </activity>
         <activity
            android:name=".Homepage"
            android:theme="@android:style/Theme.Holo.Light" 
            android:label="Psyduck" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SingleTopic" 
            android:theme="@android:style/Theme.Holo.Light"
             android:label="Drilldown" />
        <activity android:name=".GoogleNews"           
            android:theme="@android:style/Theme.Holo.Light"
             android:label="Daily Snapshot" />
                <activity android:name=".Preferences"           
            android:theme="@android:style/Theme.Holo.Light"
             android:label="Preferences" />
         <service android:name="Background" >
        </service>

    </application>

</manifest>

